<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.dao.CartDao">
    <insert id="insert" useGeneratedKeys="true" keyProperty="cid" parameterType="com.bishe.entity.Cart" >
        insert into shop_car (cid,pic,shopname,price,id,tid,uid)
        values (#{cid},#{pic},#{shopname},#{price},#{id},#{tid},#{uid})
    </insert>
    <update id="update">
        update shop_car
        set num=#{num}
        where cid=#{cid}
    </update>
    <select id="findByidAndUid" resultType="Cart">
        select * from shop_car where tid=#{tid} and uid=#{uid}
    </select>

    <select id="findByUid" resultType="Cart">
        select * from shop_car where uid=#{uid}
    </select>

    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from shop_car where cid=#{cid} and uid=#{uid}
    </delete>
</mapper>